.container {
  justify-content: center;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

li > img {
  margin-right: 5px;
}

.countryBlock {
  text-align: center;
  background-color: #f0f0f0;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 8px;
  trainsition: all 0.3 ease;
  margin: 8px;
  width: 350px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.countryBlock a {
  text-decoration: none;
  color: inherit;
}
.countryBlock:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1200px) {
    .container {
      margin-left: 60px;
    }
    .countryBlock {
      width: 75%;
    }
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    }
    .countryBlock {
      width: 90%;
    }
}

@media screen and (max-width: 768px) {
  .container {
  grid-template-columns: repeat(3, 1fr);
  }
  .countryBlock {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .countryBlock {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .countryBlock {
    width: 90%;
  }
}
