img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80px;
  height: 60px;
}

.loading {
  text-align: center;
  margin-top: 500px;
}

.button {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  width: 90px;
  height: 30px;
  font-size: 13px;
  text-wrap: nowrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

@media screen and (height < 480px) {
  .container {
    margin-top: 10px;
    font-size: 16px;
  }
  img {
    width: 40px;
    height: 30px;
  }
  header {
    font-size: 18px;
  }
  .button {
    width: 35px;
    height: 15px;
    font-size: 0.22rem;
    text-wrap: nowrap;
    margin-top: 0px;
  }
}

@media screen and (min-height: 480px) {
  .container {
    margin-top: 110px;
  }
}

@media screen and (min-height: 640px) {
  .container {
    margin-top: 150px;
  }
  h2 {
    margin-top: 20px;
  }
  .button {
    margin-top: 30px;
  }
}

@media screen and (min-height: 768px) {
  .container {
    margin-top: 240px;
  }
}

@media screen and (min-height: 1024px) {
  .container {
    margin-top: 350px;
  }
}
