img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80px;
  height: 60px;
}

.loading {
  text-align: center;
  margin-top: 500px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 350px;
}

@media screen and (min-resolution: 125dpi) {
  .container {
    margin-top: 150px;
  }
}

@media screen and (min-resolution: 250dpi) {
  .container {
    margin-top: 10px;
  }
}